<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket List</title>
</head>
<body>
<div class="container">


    <table st-table="rowCollection" class="table table-striped" data-ng-init="readTicket()">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Category</th>
            <th>State</th>
            <th>Att.</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td data-sortable="true">#{{item.id}}</a></td>
            <td>{{item.title}}</td>
            <td>{{item.timestamp}}</td>
            <td>{{item.presumedType | formatEnumeration: item.ticketType}}</td>
            <td>{{item.state | formatEnumeration: item.state}}</td>
            <td>
                <button ng-if="item.attachedFile" ng-click="showImage(item)" class="btn btn-xs">
                    <i class="fa fa-image"></i>
                </button>
            </td>
            <td>
                <button ng-controller="modalAccountFormController" ng-click="showInfoForm(item)" class="btn btn-xs btn-primary">
                    <i class="fas fa-info"></i>
                </button>
                <button ng-controller="modalAccountFormController" ng-click="modifyTicket(item,$index); showEditForm(editTicket)" class="btn btn-xs btn-warning">
                    <i class="fas fa-pen-square"></i>
                </button>
                <button ng-click="deleteTicket(item.id)" class="btn btn-xs btn-danger">
                    <i class="fa fa-trash"></i>
                </button>
            </td>


            <td/>
        </tr>
        </tbody>
    </table>

    <p>Go back to <a href="#/homeCustomer">Home</a></p>

</div>
</div>

</body>
</html>