<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <br>
        <h1><span class="fa fa-sign-in"></span> Login Company</h1>

        <form>
            <div class="form-group">
                <label>Username</label>
                <input type="text" class="form-control" name="company_username" ng-model="user.company_username">
            </div>
            <div class="form-group">
                <label>Password</label>
                <input type="password" class="form-control" name="company_password" ng-model="user.company_password">
            </div>

            <button ng-click="startLoginCompany()"  class="btn btn-warning btn-lg">Login</button>
        </form>

        {{errorMessage}}
        <hr>

        <p>Need an account? <a href="#/signupCompany">Signup</a></p>
        <p>Go back to <a href="#/home">Home</a></p>

    </div>

</div>