
<div class="jumbotron">
    <!-- TODO Inutile ora-->
    <div class="page-header" align="center">
        <h1>Home Admin</h1>
    </div>

    <div class="form-group" align="center">
        <button class="btn btn-primary" ng-click="insertTarget()" style="min-width: 200px; margin-top: 20px">Insert Target</button>
    </div>
    <div class="form-group" align="center">
        <button class="btn btn-primary" ng-click="findTarget()" style="min-width: 200px; margin-top: 20px">Target List</button>
    </div>

    <div class="form-group" align="center">
        <button class="btn btn-primary" ng-click="viewAccount()" style="min-width: 200px; margin-top: 20px">Account Information</button>
    </div>

    <div class="form-group" align="center">
        <button class="btn btn-danger" ng-click="logout()" style="min-width: 200px; margin-top: 20px">Logout</button>
    </div>

</div>
