
@-webkit-keyframes mymove {
    50% {border-color: lightgoldenrodyellow;}
}
@keyframes mymove {
    50% {border-color: lightslategray;}
}

#global-div {
    margin-top: 20px;
}

#main-div {
    background-color: #2e353d;
    min-height: 420px;
    max-width: 890px;
    margin:auto;
    border: 10px solid lightskyblue;
    border-radius: 20px 20px 20px 20px;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 6s infinite;
    padding-left: 40px;
    padding-right: 40px;
}

#title-div {
}

#title-h1 {
    margin-bottom: 30px;
    color: cornflowerblue;
    font-style: italic;
    font-weight: bolder;
}

#body-div {
    color: white;
    font-size: large;
    margin-left: 30px;
}

.body-p {
    margin-left: 20px;
}

/* Parte Bassa */

#footer {
    width: 890px;
    clear: both;
    position: relative;
    top: 35px;
    min-height: 140px;
}

#footer pre {
    text-align: center;
    font-size: 13px;
    border-radius: 10px 10px 10px 10px;
    border: 3px solid lightskyblue;
    -webkit-animation: mymove 5s infinite;
    animation: mymove 6s infinite;
    color: black;
    line-height: 3px;
}

#menu_basso {
    list-style: none;
}

.li_menu_basso {
    display: inline;
    color: white;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;
}

.li_menu_basso_2 {
    display: inline;
    color: white;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 10px;
    text-decoration: underline;
    cursor: pointer;

    border-left: 2px solid white;
}