<div class="container">

    <div class="col-sm-6 col-sm-offset-3">
        <br>
        <h1><span class="fa fa-sign-in"></span>Welcome to Ticket System</h1>

        <form>
            <div class="form-group">
                <label>If you are a company, click here to login/signup:</label>
                <button ng-click="redirectLoginCompany()" class="btn btn-warning btn-lg">Go to Company page</button>
            </div>
            <div class="form-group">
                <label>If you are a registred user, click here to login/signup:</label>
                <button ng-click="redirectLoginUser()" class="btn btn-warning btn-lg">Go to User account page</button>
            </div>
            <div class="form-group">
            <label>Create a ticket (Test)</label>
            <button ng-click="createTicket()" class="btn btn-warning btn-lg">Go to Ticket Creation</button>
        </div>
        </form>
    </div>

</div>