<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ticket List</title>
</head>
<body>
<div class="container">


    <table st-table="rowCollection" class="table table-striped" data-ng-init="readUnassignedTicket()">
        <thead>
        <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Action</th>
            <th>Team Leader</th>
            <th></th>

        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="item in items">
            <td>{{item.title}}</td>
            <td>{{item.description}}</td>
            <td>
                <button ng-controller="modalAccountFormController" ng-click="showInfoForm(item)" class="btn btn-xs btn-primary">
                    <i class="fas fa-info"></i>
                </button>
            </td>
            <td>
                <select id="team" name="team"
                        ng-options="item as item.name
                        for
                        item in teams track by item.id" ng-model="team"
                        ng-init="team = teams[0]"
                >
                </select>
            </td>
            <td>
                <button ng-click="saveTicketWithTeam(item, team)" class="btn btn-primary">Send</button>
            </td>
        </tr>
        </tbody>
    </table>

</div>
</div>

</body>
</html>