<div class="modal-header">
    <h3>Assignment ticket #{{item.id}}</h3>
</div>

<div class="modal-body">

    <div class="col-md-6" ng-repeat="state in states">
        <label>{{state.state.nextState}}</label>
        <div class="thumbnail" data-drop="true" data-jqyoui-options
             style='height:50px;'
             jqyoui-droppable="{onDrop:'dropCallback({element: state})'}" >

            <div
                    class="btn btn-success" data-drag="true"
                    data-jqyoui-options="{revert: 'invalid', refreshPosition: 'true'}"
                    jqyoui-draggable='{animate: true}'
                    ng-if="currentState.state == state.state">{{item.id}}</div>
        </div>
    </div>

    <div class="col-md-6" ng-if="currentState.state.nextState == 'EXECUTION'">
        <hr>
        <label>Select Team Member</label><br>
        <!--<select name="memberS" data-ng-init="teamMembersList"
                ng-options="t as t.name
                            for
                            t in teamMembersList track by t.name"
                ng-model="item.resolverUser"
                ng-init="item.resolverUser = teamMembersList[0]">
        </select>-->
        <ui-select   ng-model="item.resolverUser" theme="select2"
                     style="min-width: 150px" title="Select Team member "
                     ng-init="item.resolverUser = teamMembersList[0]" >
            <ui-select-match placeholder="Select Team Member ">{{item.resolverUser.name + ' '+ item.resolverUser.surname}}</ui-select-match>
            <ui-select-choices repeat="member in teamMembersList | propsFilter: {name: $select.search, surname: $select.search}">
                <div ng-bind-html="member.name + ' ' +member.surname | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select><br>
        <hr>
        <label>Select difficulty</label><br>
        <!--<select id="difficulty" name="difficulty"
                ng-options='difficulty as difficulty.name | formatEnumeration: difficulty.name
                        for
                        difficulty in difficulties track by difficulty.id' ng-model="item.difficulty"
                ng-init="difficulty = difficulties[0]">
        </select>-->
        <ui-select   ng-model="difficulty.selected" theme="select2" ng-init="difficulty.selected = difficulties[0]"
                     style="min-width: 150px" title="Select Difficulty " >
            <ui-select-match placeholder="Select Difficulty in the list ">{{difficulty.selected.name}}</ui-select-match>
            <ui-select-choices repeat="difficulty in difficulties | propsFilter: {name: $select.search}">
                <div ng-bind-html="difficulty.name | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select><br>
        <hr>
    </div>
</div>

<div class=modal-body">
    <div class="col-md">
        Are you sure to change ticket #{{item.id}} state?<br><br>
        <strong>Current state: </strong>{{item.stateMachine.currentState}}<br>
        <strong>Next state: </strong>{{currentState.state.nextState}}
    </div>
</div>


<div class="modal-footer">
    <button type="submit" class="btn btn-primary" ng-click="assignmentOk()">OK</button>
    <button class="btn btn-warning" ng-click="closeAssignmentModal()">Cancel</button>
</div>