<div class="row">
    <div class="col-md-12 col-sm-12">
        <form>
            <h2 class="text-center">List of Teams</h2>
            <div class="table-responsive">
                <table class="table table-light min-length" data-ng-init="readTeams()">
                    <thead class="thead-light">
                    <tr>
                <th scope="col">ID</th>
                <th scope="col">Name</th>
                <th scope="col">Problem Area</th>
                <th></th>

            </tr>
            </thead>

            <tbody>
            <tr scope="row" ng-repeat="item in teamsList">
                <td data-sortable="true">#{{item.id}}</a></td>
                <td>{{item.name}}</td>
                <td>{{item.problemArea}}</td>
                <td>
                    <button ng-controller="modalController" ng-click="showInfoTeam(item)" class="btn btn-info btn-xs">
                        <i class="fa fa-info"></i>
                    </button>

                    <button ng-click="deleteTeam(item.id)" class="btn btn-xs btn-danger">
                        <i class="fa fa-trash"></i>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
            </div>
    </form>
</div>
</div>