
<div id="main-div">

    <div id="title-div" align="center">
        <br>
        <h1 id="title-h1">Welcome to the Ticketing System </h1>
    </div>

    <hr>

    <div id="body-div">
        <p>
            Our ticketing system offers many features that will allow you to perform all the operations that are relevant to your role in the system.
        </p>
        <br>
        <p>
            Using the menu on the left, you can perform the operations you want:
        </p>
        <p class="body-p">
            - View and edit your account information, or delete it if necessary.
        </p>
        <p class="body-p">
            - Dashboard for resolve tickets
        </p>
        <br>
    </div>

</div>