<div class="container">

    <h1><span class="fa fa-sign-in">Create ticket: </span></h1>

    <div class="row">
        <div class="column">

            <form>
                <div class="form-group">
                    <!--<label for="target">Select Product:</label><br>
                    <select id="target" name="target"
                            ng-options="item as item.name
                            for
                            item in products track by item.id" ng-model="ticket.target"
                            ng-init="ticket.target = products[0]"
                    >
                    </select><br>-->
                </div>
                <!--
                <div class="form-group">
                    <label>Source type:</label><br>
                    <select id="sourceType" name="sourceType"
                            ng-options="item as item.name | formatEnumeration: item.name
                        for
                        item in sourceTypes track by item.id" ng-model="ticket.sourceType"
                            ng-init="ticket.sourceType = sourceTypes[0]"
                    >
                    </select><br>
                </div>
                -->

                <div class="form-group">
                    <Label>Target:</Label><br>
                    <select id="targets" name="targets" data-ng-init="findTargets()"
                            ng-options="t as t.name
                                        for
                                        t in targetList track by t.id"
                            ng-model="ticket.target"
                            ng-init="ticket.target = targetList[0]"
                            ng-change="showCategories(ticket.target)">
                    </select>
                </div>

                <div class="form-group">
                    <label>Category:</label><br>
                    <select name="presumedType"
                            ng-options="t
                                        for
                                        t in relatedCategories"
                            ng-model="ticket.presumedType">
                    </select><br>
                </div>

                <!--
                <div class="form-group">
                    <Label>Categories:</Label>
                    <select id="cat" name="cat" data-ng-init="relatedCategories"
                            ng-options="c as c.name for c in relatedCategories"
                            ng-model="ticket.target['categories']"
                            ng-show="showCategoriesOnDisplay"
                            ng-hide="!showCategoriesOnDisplay">
                    </select>
                </div>
                -->

                <!--
                <label>Categories:</label>
                <div
                        isteven-multi-select
                        input-model="relatedCategories"
                        output-model="selectedCategories"
                        output-properties="name"
                        button-label="name"
                        item-label="name"
                        tick-property="ticked"
                        max-height="200px"
                >
                </div>
                -->


                <!-- multiselect from https://github.com/isteven/angular-multi-select -->
                <label>Tags:</label>
                <div
                        isteven-multi-select
                        input-model="tags"
                        output-model="selectedTags"
                        output-properties="name"
                        button-label="name"
                        item-label="name"
                        tick-property="ticked"
                        max-height="200px"
                >
                </div>
                <div class="form-group">
                    <label>Priority:</label><br>
                    <select name="customerPriority" ng-model="ticket.customerPriority">
                        <option value="LOW">Low</option>
                        <option value="AVERAGE">Average</option>
                        <option value="HIGH">High</option>
                    </select><br>
                </div>
                <div class="form-group">
                    <label>Visibility:</label><br>
                    <select name="visibility" ng-model="visibility">
                        <option value="PRIVATE">Private</option>
                        <option value="PUBLIC">Public</option>
                    </select><br>
                </div>

            </form>



        </div>


        <div class="column">
            <div class="form-group">
                <label>Title: </label><br>
                <input type="text" style="font-weight: bold;" class="form-control" name="title"
                       ng-model="ticket.title">
            </div>
            <div class="form-group">
                <label>Description: </label><br>
                <textarea name="description" cols="40" rows="5" ng-model="ticket.description"></textarea>
            </div>
            <div class="form-group">
                <label>Attachment: </label><br>
                <input type="file"
                       custom-on-change="selectedFile"
                       accept="image/*"
                />
            </div>
            <button ng-click="createTicket()" class="btn btn-warning btn-lg">Create</button>
        </div>
    </div>

    <hr>
    <p align="center">Go back to <a href="#/homeCustomer">Home</a></p>

</div>