<div class="account col-sm-10">
    <br>
    <form>
        <h2 class="text-center">Create a new Ticket</h2>
        <div class="form-group">
            <div class="form-group">
                <Label>Target:</Label><br>
                <select id="targets"
                        name="targets"
                        ng-options="t as t.name
                                        for
                                        t in targets track by t.id"
                        ng-model="ticket.target"
                        ng-init="ticket.target = targets[0]; showCategories(ticket.target)"
                        ng-change="showCategories(ticket.target); ticket.presumedType = relatedCategories[0];">
                </select>
                <br>
            </div>

            <div class="form-group">
                <label>Category:</label><br>
                <select name="presumedType"
                        ng-options="t
                                    for
                                    t in relatedCategories"
                        ng-model="ticket.presumedType"
                        ng-init="ticket.presumedType = relatedCategories[0];">
                </select>
                <br>
            </div>

            <!-- multiselect from https://github.com/isteven/angular-multi-select -->
            <label>Tags:</label>
            <div class="isteven"
                 isteven-multi-select
                 input-model="tags"
                 output-model="selectedTags"
                 output-properties="name"
                 button-label="name"
                 item-label="name"
                 tick-property="ticked"
                 max-height="200px">
            </div>
            <br>

            <div class="form-group">
                <label>Priority:</label><br>
                <select name="customerPriority"
                        ng-options="    priority as priority.name | formatEnumeration: priority.name
                                        for
                                        priority in priorities track by priority.id"
                        ng-model="customerPriority"
                        ng-init="customerPriority = priorities[0]">
                </select>
                <br>
            </div>
            <div class="form-group">
                <label>Visibility:</label><br>
                <select name="visibility"
                        ng-options="visibility as visibility.name | formatEnumeration: visibility.name
                                        for
                                        visibility in visibilities track by visibility.id"
                        ng-model="visibility"
                        ng-init="visibility = visibilities[0]">
                </select>
                <br>
            </div>
            <div class="form-group">
                <label>Title: </label><br>
                <input type="text" style="font-weight: bold;" class="form-control" name="title"
                       ng-model="ticket.title">
            </div>
            <div class="form-group">
                <label>Description: </label><br>
                <textarea name="description" style="color:black;" cols="40" rows="5"
                          ng-model="ticket.description"></textarea>
            </div>
            <div class="form-group">
                <label>Attachment: </label><br>
                <input type="file"
                       custom-on-change="selectedFile"
                       accept="image/*"/>
            </div>
            <div class="form-group">
                <button ng-click="createTicket(ticket, selectedTags, customerPriority, visibility)" class="btn btn-primary btn-lg btn-block">Create
                </button>
            </div>
        </div>
    </form>
</div>