
<div id="main-div">

    <div id="title-div" align="center">
        <br>
        <h1 id="title-h1">Welcome to the Ticketing System</h1>
    </div>

    <hr>

    <div id="body-div">
        <p>
            Our ticketing system provides many features that will allow you to solve whatever problem you have.
        </p>
        <br>
        <p>
            Using the menu on the left, you can perform the operations you want:
        </p>
        <p class="body-p">
            - View and edit your account information, or delete it if necessary.
        <p class="body-p">
            - Create a new ticket.
        </p>
        <p class="body-p">
            - View the list of tickets you have already opened.
        </p>
    </div>

</div>
