
<div class="jumbotron">

    <div class="page-header">
        <h1>Home Customer</h1>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="creationTicketHome()" style="min-width: 200px; margin-top: 20px">Ticket creation</button>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="readTicket();" style="min-width: 200px; margin-top: 20px">Ticket List</button>
    </div>

    <div class="form-group">
        <button class="btn btn-primary" ng-click="viewAccount()" style="min-width: 200px; margin-top: 20px">Account Information</button>
    </div>

    <div class="form-group">
        <button class="btn btn-danger" ng-click="logout()" style="min-width: 200px; margin-top: 20px">Logout</button>
    </div>

</div>
