
<div style="background-color: #2e353d; margin-right: 30px; min-height: 450px; max-width: 950px">

    <div align="center" style="margin-top: 30px">
        <br>
        <h1 style="margin-bottom: 30px; color: cornflowerblue;">Welcome to the Ticketing System</h1>
    </div>

    <hr>

    <div style="color: white; font-size: x-large; margin-left: 30px">
        <p style="margin-right: 20px">
            Our ticketing system provides many features that will allow you to solve whatever problem you have.
        </p>
        <br>
        <p>
            Using the menu on the left, you can perform the operations you want:
        </p>
        <p style="margin-left: 20px">
            - View and edit your account information, or delete it if necessary.
        <p style="margin-left: 20px">
            - Create a new ticket.
        </p>
        <p style="margin-left: 20px">
            - View the list of tickets you have already opened.
        </p>
    </div>

</div>
