<div class="row">
    <div class="col-md-12 col-sm-12">
        <form>
            <h2 class="text-center">List of Tickets</h2>
            <div class="table-responsive">
                <table class="table table-light min-length" data-ng-init="readTicket()">
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">Title</th>
                        <th scope="col">Date</th>
                        <th scope="col">Category</th>
                        <th scope="col">State</th>
                        <th scope="col">Attachment</th>
                        <th scope="col">Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" ng-repeat="item in items | orderBy:'ID'">
                        <td>#{{item.id}}</a></td>
                        <td>{{item.title}}</td>
                        <td>{{item.timestamp}}</td>
                        <td>{{item.presumedType}}</td>
                        <td>{{item.currentState}}</td>
                        <td>
                            <button title="See Ticket attachment" ng-if="item.attachedFile" ng-click="showImage(item)" class="btn btn-xs">
                                <i class="fa fa-image"></i>
                            </button>
                        </td>
                        <td>
                            <button title = "Ticket information" ng-controller="modalController" ng-click="showInfoForm(item)"
                                    class="btn btn-xs btn-primary">
                                <i class="fas fa-info"></i>
                            </button>
                            <button title = "Modify Ticket" ng-controller="modalController" ng-if="item.currentState == 'EDIT'"
                                    ng-click="modifyTicket(item,$index); showEditForm(editTicket)"
                                    class="btn btn-xs btn-warning">
                                <i class="fas fa-pen-square"></i>
                            </button>
                            <button title = "Close Ticket" ng-if="item.currentState == 'ACCEPTANCE' || item.currentState == 'EDIT'" ng-click="closeTicket(item)"
                                    class="btn btn-xs btn-success">
                                <i class="fas fa-check"></i>
                            </button>
                            <button title = "Read Ticket comments" ng-controller="modalController" ng-if="item.currentState == 'EDIT'" ng-click="showMessageForm(item)" class="btn btn-xs btn-info">
                                <i class="far fa-comments"></i>
                            </button>
                            <button title = "Reject Ticket resolution" ng-controller="modalController" ng-if="item.currentState == 'ACCEPTANCE'" ng-click="rejectResolvedTicket(item)" class="btn btn-xs btn-danger">
                                <i class="fas fa-minus-circle"></i>
                            </button>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </form>
    </div>
</div>