<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Assigned Ticket</title>
</head>
<body>
<div class="row">

    <table st-table="rowCollection" class="table table-striped">
        <thead>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Date</th>
            <th>Difficulty</th>
            <th>C. Priority</th>
            <th>I. Priority</th>
            <th>Action</th>
            <th></th>

        </tr>
        </thead>
        <tbody style="height: 250px;">
        <tr ng-repeat="item in items | orderBy:'ID'" ng-controller="modalController">
            <td ng-controller="drag-and-drop-controller" class="btn btn-xs btn-primary"
                data-drag="true" ng-model="item" data-jqyoui-options="{revert: 'invalid', refreshPosition: 'true'}"
                jqyoui-draggable='{animate: true, onStart:"showAssignmentModal({ticket: item})"}'>{{item.id}}
            </td>
            <td>{{item.title}}</td>
            <td>{{item.timestamp}}</td>
            <td><select id="difficulty" name="difficulty"
                        ng-options='difficulty as difficulty.name | formatEnumeration: difficulty.name
                        for
                        difficulty in difficulties track by difficulty.id' ng-model="difficulty"
                        ng-init="difficulty = difficulties[0]">
            </select></td>
            <td>{{item.customerPriority}}</td>
            <td>{{item.actualPriority}}</td>
            <td>
                <button ng-controller="modalController" ng-click="showInfoForm(item)" class="btn btn-xs btn-primary">
                    <i class="fas fa-info"></i>
                </button>
                <button ng-if="item.attachedFile" ng-click="showImage(item)" class="btn btn-xs">
                    <i class="fa fa-image"></i>
                </button>
                <button ng-click="showMessageForm(item)" class="btn btn-xs btn-info">
                    <i class="far fa-comments"></i>
                </button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
</div>

</body>
</html>