<div class="row">
    <div class="col-md-12 col-sm-12">
        <form>
            <h2 class="text-center">Assign Ticket</h2>
            <!-- table st-table="rowCollection" class="table table-striped" data-ng-init="readUnassignedTicket()" -->
            <div class="table-responsive">
                <table class="table table-light min-length" data-ng-init="readReopenedTickets()">
                    <!-- TODO I. sta per? -->
                    <thead class="thead-light">
                    <tr>
                        <th scope="col">ID</th>
                        <th scope="col">By</th>
                        <th scope="col">Title</th>
                        <th scope="col">Action</th>
                        <th scope="col">C. Priority</th>
                        <th scope="col">C. Type</th>
                        <th scope="col"></th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr scope="row" ng-repeat="item in items" ng-controller="modalController">
                        <td>
                            {{item.id}}
                        </td>
                        <!-- TODO Ha senso lo username, non nome e cognome-->
                        <!-- td>{{item.openerUser.name + " " + item.openerUser.surname}}</td-->
                        <td>{{item.openerUser.username}}</td>
                        <td>{{item.title}}</td>
                        <td>
                            <button ng-click="showInfoForm(item)" class="btn btn-xs btn-primary">
                                <i class="fas fa-info"></i>
                            </button>
                            <button ng-if="item.attachedFile" ng-click="showImage(item)" class="btn btn-xs">
                                <i class="fa fa-image"></i>
                            </button>
                            <button ng-click="showMessageForm(item)" class="btn btn-xs btn-info">
                                <i class="far fa-comments"></i>
                            </button>
                        </td>
                        <td>{{item.customerPriority}}</td>
                        <td>{{item.presumedType}}</td>
                        <td>
                            <button ng-click="reassignTicket(item)"
                                    class="btn btn-xs btn-primary">Reassign
                            </button>
                        </td>
                    </tr>
                    </tbody>
                    <tfoot>
                    <br>
                    <br>
                    </tfoot>
                </table>
            </div>
        </form>
    </div>
</div>