<div id="global-div">

    <div id="main-div">
        <div id="title-div" align="center">
            <br>
            <h1 id="title-h1">Welcome to the Ticketing System</h1>
        </div>

        <hr>

        <div id="body-div">
            <p>
                Our ticketing system provides many features that will allow you to solve whatever problem you have.
            </p>
            <br>
            <p>
                Using the menu on the left, you can perform the operations you want:
            </p>
            <p class="body-p">
                &#x27A4; View and edit your account information, or delete it if necessary.
            </p>
            <p class="body-p">
                &#x27A4; Create a new ticket.
            </p>
            <p class="body-p">
                &#x27A4; View the list of tickets you have already opened.
            </p>
            <br>
        </div>
    </div>

    <div align="center">
        <footer id="footer">
            <ul id="menu_basso">
                <li class="li_menu_basso" ng-click="whoAreWe()">Who are we?</li>
                <li class="li_menu_basso" style="border-left: 2px solid white"> &nbsp;Terms of use </li>
                <li class="li_menu_basso" style="border-left: 2px solid white"> &nbsp;Privacy regulations </li>
                <li class="li_menu_basso" style="border-left: 2px solid white"> &nbsp;FAQ </li>
            </ul>
            <pre> &copy; Copyright 2018 Ticket System  e-mail:info@TicketSystem.com</pre>
            <pre> Access to or use of this site is subject to acceptance of the General Conditions, Privacy Rules.</pre>
            <br>
            <br>
        </footer>
    </div>

</div>
